@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1);
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 641px) {
  .container {
    max-width: 500px;
  }
}
