.btn {
  display: flex;
  align-items: center;
  color: var(--color-8);
  font-weight: 700;
}

.btnRing {
  height: fit-content;
  padding: 12px;
  border-radius: 50%;
}
.btnRing > .icon {
  display: flex;
  width: 18px;
  height: 18px;
}
.btnBig {
  padding: 20px 50px;
  border-radius: 80px;
}
.btnBig > .icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}
.btnSmall {
  padding: 10px 19px;
  border-radius: 20px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
}
.btnSmall > .icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
