.btn {
  display: flex;
  background-color: var(--color-6);
}
.btnTxt {
  padding: 20px 50px;
  border-radius: 80px;
}
.btnRing {
  height: fit-content;
  padding: 12px;
  border-radius: 50%;
}
.text {
  margin-right: 12px;

  font-weight: 700;
  color: var(--color-8);
}
.icon {
  width: 18px;
  height: 18px;
  display: flex;
}

@media (max-width: 641px) {
  .btnRing {
    padding: 10px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
