.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--color-6);
  border-radius: 10px;
}
.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  font-size: 10px;
  text-transform: lowercase;
  color: var(--color-2);
  margin-bottom: 10px;
}
.inp {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.chbox {
  margin-top: 5px;
}
.blockBtn {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
