.form {
  display: flex;
  width: fit-content;
  padding: 7px 10px 7px 20px;
  background-color: var(--color-9);
  border-radius: 36px;
}
.inp {
  margin-right: 10px;
  background-color: transparent;
}
