.root {
  margin-top: 100px;
  margin-bottom: 100px;
}
.message {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: var(--color-5);
  color: var(--color-8);
  font-size: 30px;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  line-height: 150%;
  text-align: center;
}
